<!-- <link rel="stylesheet" href="/css/chat.css">

<div id="chat-container">
    <div id="display-area">

    </div>
    <div id="chat-input-container">
        <form action="" method="POST" id="chat-form">
            <input id="chat-input" type="text" placeholder="Type here..." required>
            <input id="chat-send-button" type="submit" value="Send">
        </form>
    </div>
</div> -->