<footer>

    <div id="col1">
        &#169; Coding Ninjas. All Rights Reserved
    </div>

    <div id="col2">
        <div id="row1"><a href="/" class="remove-a-style">Home</a></div>
        <div id="row2"><a href="/users/profile" class="remove-a-style">Profile</a></div>
    </div>

</footer>