<header>
    <div id="header-logo">
        <a href="/" class="remove-a-style">
            <span style="color: #fbbf58;">&lt;</span> CodeMania19 <span style="color: #fbbf58;">/&gt;</span>
        </a>
    </div>

    <div id = "auth-links">
            <% if(locals.user){ %>
                <div id="link1"> <a href="/users/profile/<%= locals.user.id %>" class="remove-a-style"><%= user.name %></a> </div>
                <div id="link2"> <a href="/users/sign-out" class="remove-a-style">Sign Out</a> </div>    
            <% }else{ %>
                <div id="link1" > <a href="/users/sign-in" class="remove-a-style">Sign In</a> </div>
                <div id="link2"> <a href="/users/sign-up" class="remove-a-style">Sign Up</a> </div>
            <% } %>
    </div>

</header>