<link rel="stylesheet" href="/css/sign_in_up.css">
<div class="sign-box">
    <div class="sign-content">
        <div class = "sign-heading">Enter New Password</div>
            <% if(reset.isValid){ %>
                <div>
                    <form action="/reset-password/<%= reset.token %>" method="POST">    
                        <div><input class="input-box" type="password" name="new_password" placeholder="Enter New Password"></div>
                        <div><input class="input-box" type="password" name="confirm_new_password" placeholder="Confirm New Password"></div>
                        <div><input class="form-submit-btn" type="submit" value="Reset-Password"></div>
                    </form>
                </div>    
            <% }else{ %>
                <p>The token has expired</p>    
            <% } %>
        </div>
    </div>
</div>
