<link rel="stylesheet" href="/css/sign_in_up.css">
<div class="sign-box">
    <div class="sign-content">
        <div class="sign-heading">Reset Password</div>
        <div>
            <form action="/reset-password/send-email" method="POST">
                <input class="input-box" type="email" name="email" placeholder="Enter your email">
                <input class="form-submit-btn" type="submit" value="Reset Password">
            </form>
        </div>
    </div>
</div>
