<link rel="stylesheet" href="/css/sign_in_up.css">
<div class="sign-box">
    <div class="sign-content">

        <div class = "sign-heading">Sign up</div>

        <div>
            <form action="/users/create" method="POST">
                <div><input class="input-box" type="text" name="name" placeholder="Your Name" required></div>
                <div><input class="input-box" type="email" name="email" placeholder="Your Email" required></div>
                <div><input class="input-box" type="password" name="password" placeholder="Password" required></div>
                <div><input class="input-box" type="password" name="confirm_password" placeholder="Confirm Password" required></div>
                <div><input class="form-submit-btn" type="submit" value="Sign Up"></div>
            </form>
        </div>

        <div class="or-line">
            <div class="or-horizontal-line"></div>
            <div class="or-text">OR</div>
            <div class="or-horizontal-line"></div>
        </div>

        <a href="/users/auth/google">
            <div class="sign-google">
                <div><img src="/images/google-logo.png"></div>
                <div>Sign in with Google</div>
            </div>
        </a>
    </div>
    
</div>
