.main-header{
    padding:0.5rem 2rem;
    box-sizing: border-box;
    // position: sticky;
    position: fixed;
    // top: 0px;
    z-index: 100;
    width: 100vw;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0C6FF1;
    color: white;
    box-shadow:0px 1px 7px 0px #404040;

    

    .header-logo{
        font-weight: bold;
        font-size: 1.5rem;
    }

    .auth-links{
        margin-top:4px;
        font-size: 1.1rem;
        display: flex;
        flex-direction: row;

        .header-profile-photo{
            height: 30;
            width: 30;
            object-fit: cover;
            img{
                height: inherit;
                width: inherit;
                object-fit: cover;
                border-radius: 50%;
                // background-image: url('../images/default-avatar.png');
            }
        }

        .link1{
            padding:0 1rem;
            text-transform: capitalize;
            text-align: center;
        }

    }
}

.remove-a-style{
    text-decoration: none;
    color:inherit;
}