header{
    padding:0.5rem 1.5rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0C6FF1;
    color: white;

    #header-logo{
        font-weight: bold;
        font-size: 2rem;
    }

    #auth-links{
        margin-top:6px;
        font-size: 1.2rem;
        display: flex;
        flex-direction: row;
        // justify-content: space-between;

        #header-profile-photo{
            height: 30;
            width: 30;
            object-fit: cover;
            img{
                height: inherit;
                width: inherit;
                object-fit: cover;
                border-radius: 50%;
                // background-image: url('../images/default-avatar.png');
            }
        }

        #link1{
            padding:0 1rem;
            text-transform: capitalize;
            text-align: center;
        }

    }
}

.remove-a-style{
    text-decoration: none;
    color:inherit;
}