#home-container{
    display: flex;
    min-height: 100%;

    #feeds-posts{
        width:70%;
        padding:10px;
    }

    #aside-section{
        width:30%;
        // padding:10px;
        border-left:1px solid lightgrey;

        #user-friends{
            height: 40%;
            padding:10px;
            border-bottom:1px solid lightgrey;
        }

        #all-users{
            padding:10px;
        }
    }
}