.main-header {
  padding: 0.5rem 2rem;
  box-sizing: border-box;
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0C6FF1;
  color: white;
  box-shadow: 0 0 10px 2px #424242; }
  .main-header .header-logo {
    font-weight: bold;
    font-size: 1.5rem; }
  .main-header .auth-links {
    margin-top: 4px;
    font-size: 1.1rem;
    display: flex;
    flex-direction: row; }
    .main-header .auth-links .header-profile-photo {
      height: 30;
      width: 30;
      object-fit: cover; }
      .main-header .auth-links .header-profile-photo img {
        height: inherit;
        width: inherit;
        object-fit: cover;
        border-radius: 50%; }
    .main-header .auth-links .link1 {
      padding: 0 1rem;
      text-transform: capitalize;
      text-align: center; }

.remove-a-style {
  text-decoration: none;
  color: inherit; }
