header {
  padding: 0.5rem 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #0C6FF1;
  color: white; }
  header #header-logo {
    font-weight: bold;
    font-size: 1.5rem; }
  header #auth-links {
    margin-top: 4px;
    font-size: 1.1rem;
    display: flex;
    flex-direction: row; }
    header #auth-links #header-profile-photo {
      height: 30;
      width: 30;
      object-fit: cover; }
      header #auth-links #header-profile-photo img {
        height: inherit;
        width: inherit;
        object-fit: cover;
        border-radius: 50%; }
    header #auth-links #link1 {
      padding: 0 1rem;
      text-transform: capitalize;
      text-align: center; }

.remove-a-style {
  text-decoration: none;
  color: inherit; }
