#sign-box {
  background-color: white;
  width: 450px;
  padding: 10px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 60px; }
  #sign-box .sign-heading {
    margin: auto;
    color: #FE7D41;
    font-size: 30px;
    font-weight: bold;
    border-bottom: 3px solid #FE7D41;
    padding: 0 8.9rem;
    padding-bottom: 10px;
    margin-bottom: 20px; }
  #sign-box .input-box {
    padding: 0.5rem;
    width: 24rem;
    margin-bottom: 10px;
    outline: none;
    border: 1.5px solid #e0d8d8; }
  #sign-box #forgot-password {
    text-align: end;
    font-size: 13px;
    margin-bottom: 10px; }
    #sign-box #forgot-password a {
      text-decoration: none; }
  #sign-box .form-submit-btn {
    margin: auto;
    padding: 0.5rem 10.7rem;
    border: none;
    color: white;
    background-color: #FE7D41;
    font-size: 14px; }
  #sign-box .or-line {
    margin-top: -0.2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    #sign-box .or-line .or-horizontal-line {
      width: 8rem;
      border-bottom: 2px solid black; }
    #sign-box .or-line .or-text {
      position: relative;
      top: 0.5rem;
      padding: 0 1.3rem; }
  #sign-box a {
    text-decoration: none;
    color: #FE7D41;
    margin-bottom: 25px; }
    #sign-box a .sign-google {
      border: 1px solid #b7a7a7;
      padding: 0.4rem 6.9rem;
      font-size: 14px;
      font-weight: bold;
      display: flex;
      flex-direction: row; }
    #sign-box a img {
      height: 20px;
      width: 20px;
      margin-right: 1rem; }
